.intro {
    background-color: #6ebad8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 5px;
    box-shadow: 6px 5px 6px rgb(41, 41, 41);
    padding-bottom: 20px;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif
}

.games {
    display: flex;
    flex-wrap: wrap;
    background-color: #6EBAD8;
    justify-content: center;
    box-shadow: 6px 5px 6px rgb(48, 47, 47);
    padding-top: 20px;
    border-radius: 20px;

}

.items img{
    margin: 10px;
    box-shadow: 10px 8px 10px rgb(41, 41, 41);
    border-radius: 20px;
}

.items p{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 5px;
}

body {
    background-color: rgb(21, 137, 204);
}

.aboutme {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #6ebad8;
    border-radius: 20px;
    height: 500px;
    box-shadow: 6px 5px 6px rgb(41, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

img:hover{
    transform: translateY(4px);
}

.items:hover .gamename{
    visibility: visible;
}

.items .gamename{
    visibility: hidden;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}

/* img .gamename::after{
    visibility: visible;
} */

.items:hover .gamename {
    visibility: visible;
    position: relative;
    top:-150px;
    right: -60px;
}